
<form method="post" action="" [formGroup]="loginForm" (ngSubmit)="loginHandler()">
    <div class="box">
    <h1>Login</h1>
    
    <input type="email" name="email" value="email" onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" placeholder="email" class="email" formControlName="email" />

    <p class="error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']">
        Email is required!
    </p>

    <p class="error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['pattern']">
        Email is not valid!
    </p>
      
    <input type="password" name="email" value="email" onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" placeholder="******"
     class="email" formControlName="password"/>

    <p class="error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']">
        Password is required!
    </p>

    <p class="error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength']">
        Password must be at least 5 characters!
    </p>
      
    <div class="btns">
    <button class="btn" [disabled]="loginForm.invalid">Sign In</button> <!-- End Btn -->
    
    
</div>

<p class="text-center" >
    Have an account?
    <a routerLink="/register"> Register</a>
</p>
      
    
    </div> <!-- End Box -->

      
    </form>
    
    