
<form method="post" action="" [formGroup]="registerForm" (ngSubmit)="registerHandler()">
    <div class="box">
    <h1>Register</h1>

    <input type="username" name="username" value="username" onFocus="field_focus(this, 'username');" onblur="field_blur(this, 'username');" placeholder="username" 
    class="username" formControlName="username" />

    <p class="error" *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.errors?.['required']">
        Username is required!
    </p>

    <p class="error" *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.errors?.['minlength']">
        Username must be atleast 5 characters!
    </p>

    
    <input type="email" name="email" value="email" onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" placeholder="email" class="email" formControlName="email" />

    <p class="error" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">
        Email is required!
    </p>

    <p class="error" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['pattern']">
        Email is not valid!
    </p>
    
    <ng-container formGroupName="passwords">

    <input type="password" name="password" value="password" onFocus="field_focus(this, 'password');" onblur="field_blur(this, 'password');" placeholder="******"
     class="password" formControlName="password"/>

     <p class="error" *ngIf="registerForm.get('passwords')?.get('password')?.touched && registerForm.get('passwords')?.get('password')?.errors?.['required']">
        Password is required!
    </p> 

    <p class="error" *ngIf="registerForm.get('passwords')?.get('password')?.touched && registerForm.get('passwords')?.get('password')?.errors?.['minlength']">
        Password must be at least 5 characters!
    </p> 


        
        <input class="re-password" type="password" name="rePassword" id="rePassword" placeholder="******" formControlName="confirmPassword">

    <p class="error" *ngIf="registerForm.get('passwords')?.errors?.['sameValueGroupValidator'] && registerForm.get('passwords')?.get('confirmPassword')?.touched">
        Repeat Password does not match password!
    </p>
    </ng-container>

    <div class="btns">
    <button class="btn" [disabled]="registerForm.invalid">Register</button> <!-- End Btn -->
    
    
    
</div>

<p class="text-center">
    Have an account?
    <a routerLink = "/login">Log In</a>
</p>
      
    
    </div> <!-- End Box -->

      
    </form>
    
    
