<header id="mu-header" class="" role="banner">
    <nav class="nav">
    <ul role="link" class="list">
        
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/books">Books</a></li>
        <li><a routerLink="/authors">Authors</a></li>
        <li><a routerLink="/rankings">Rankings</a></li>
        <li><a routerLink="/about">About</a></li>
    </ul>

        <ul class="auth" role="list">
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/register">Register</a></li>
            <li><a routerLink="/logout">Logout</a></li>
            <li><a routerLink="/profile">Profile</a></li>
          </ul>

      
    </nav>
</header>
